<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sexto Período</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<body>
<table class="container">
    <thead>
    <tr>
        <th>
            Disciplina
        </th>
        <th>
            Categoria
        </th>
        <th>
            Atividade Pedagógica
        </th>
        <th>
            Hrs
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            EGS19601 - Optativa (Empreendedorismo - EAD ou Libras - EAD) - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - EAD - Ensino a distância
        </td>
        <td>
            Teórica
        </td>
        <td>
            60
        </td>
    </tr>
    <tr>
        <td>
            EGS19606 - Estágio Supervisionado II - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - ESTÁGIO SUPERVISIONADO
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19703 - Engenharia de Software: Qualidade de Software (Gestão de Configuração e Mudanças) - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19602 - Programação Web - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19603 - Gestão de Projetos - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19604 - Engenharia de Software: Arquitetura de Software - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19605 - Projeto de Programação Web - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            120
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>