<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oitavo Período</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<body>
<table class="container">
    <thead>
    <tr>
        <th>
            Disciplina
        </th>
        <th>
            Categoria
        </th>
        <th>
            Atividade Pedagógica
        </th>
        <th>
            Hrs
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            EGS19801 - Inteligência Artificial - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            120
        </td>
    </tr>
    <tr>
        <td>
            EGS19802 - Big Data - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19801 - Inteligência Artificial - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            120
        </td>
    </tr>
    <tr>
        <td>
            EGS19803 - Inovações Tecnológicas - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>
    <tr>
        <td>
            EGS19804 - Internet das Coisas IoT - Ativa
            desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            80
        </td>
    </tr>
    <tr>
        <td>
            EGS19805 - Projeto de Desenvolvimento Profissional II - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            40
        </td>
    </tr>

    <tr>
        <td>
            EGS19806 - Projeto de Mineração de Dados - Ativa desde: 01/01/2019
        </td>
        <td>
            Natureza - OBRIGATÓRIA
        </td>
        <td>
            Teórica
        </td>
        <td>
            120
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>